<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud Custodian</title>
</head>
<body>
    <h1>Cloud Custodian !!</h1>
    <p>Cloud Custodian enables users to be well managed in the cloud. The simple YAML DSL allows you to easily define rules to enable a well-managed cloud infrastructure, that's both secure and cost optimized. It consolidates many of the ad-hoc scripts organizations have into a lightweight and flexible tool, with unified metrics and reporting.

Custodian supports managing AWS, Azure, and GCP public cloud environments.</p>
</body>
</html>